
<div class="header-content">
<h1 class="title">
  {{title}}
</h1>
<button class="menu-button" (click) ="clicked()">&#9776;</button>
    </div>
<div class="image-span"></div>
<sidenav-component></sidenav-component>
<box-component id="content-1">
    <h1 class="box-header">Onfolio is the fastest way to send your portfolio.</h1>
    <button class="read-more">Read More</button>
</box-component>
<box-component>
<h1 class="box-header">Onfolio is the safest way to send your portfolio.</h1>
    <button class="read-more">Read More</button>
</box-component>
<box-component>
<h1 class="box-header">Onfolio is the most elegant way to send your portfolio.</h1>
    <button class="read-more">Read More</button>
</box-component>
<footer-component>
</footer-component>