/**  STYLES **/
h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 1.7em;
    color: black;
}
p {
    
 font-family: 'Open Sans', sans-serif;
    color: black;
}
h1, p {
    
    z-index: 1;
    text-align: center;
    
}

/** BUTTON STYLES **/

.menu-button {
    position: absolute;
    top: 20px;
    right: 5px;
    border: none;
    box-shadow: none;
    font-size: 1em;
    
}

button {
    font-family: Open Sans, sans-serif;
  padding:5px 10px;
  background: #FFF;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
    box-shadow: 1px 1px 10px rgba(92, 92, 92, 0.85);
}

button:focus {
  outline: none;
}
.read-more {
    display: block;
    margin: 0 auto;
    
}

/** MAIN STYLES **/

.header-content {
    color: #1ebdff;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(92, 92, 92, 0.45);
    margin-bottom: 25%;
}
.header-content h1 {
    
    text-align: left;
    color: #1ebdff;
}
.title {
    
    margin-left: 25px;
}

/** IMAGE STYLES **/

.image-span {
    background: url("paperwork.jpg") no-repeat;
    background-size: cover;
    height: 600px;
    opacity: 0.8;
    width: 100%;
    z-index: 0.5;
}

/** CONTAINER STYLES **/

.box {
    display: block;
    box-shadow: 1px 1px 10px rgba(92, 92, 92, 0.85);
    width: 80%;
    margin: auto;
    opacity: 0.85;
    margin-bottom: 15px;
    color: black;
    height: 500px;
    z-index: 0;
}
.box-window {
    height: 100px;
    width: 100%;
    z-index: 1;
    background: #395B6A;
    -webkit-box-shadow:0 4px 4px -4px #000;
    box-shadow:0 4px 4px -4px #000;
    border-bottom: 10px solid #395B6A;
}
.window-content {
    border-radius: 100%;
    width: 20%;
    vertical-align:middle;
    border: 10px solid #395B6A;
    position: relative;
    top: 70px;
    -webkit-box-shadow:0 4px 4px -4px #000;
    box-shadow:0 4px 4px -4px #000;
}
.box-header {
    padding: 50px;
    margin-bottom: 75px;
    margin-top: 100px;
    color:#1ebdff;
    text-align: center;
}
#content-1 {
    
    margin-top: 100px;
}

/** MATERIAL EFFECTS **/

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}